<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>蒋菡 & 赵文强</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="timeline-container" id="timeline-1">
    <div class="timeline-header">
      <h2 class="timeline-header__title">蒋菡 & 赵文强</h2>
      <h3 class="timeline-header__subtitle"></h3>
    </div>
    <div class="timeline">
      <div class="timeline-item" data-text="INTROS">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/longago.jpeg"/>
          <h2 class="timeline__content-title">很久以前</h2>
          <p class="timeline__content-desc">我们就在某个时空中相遇了</p>
        </div>
      </div>
      <div class="timeline-item" data-text="INTROS">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201609.jpg"/>
          <h2 class="timeline__content-title">09 2016</h2>
          <p class="timeline__content-desc">我们立志求学，所以相遇在西安工程大学</p>
        </div>
      </div>
      <div class="timeline-item" data-text="INTROS">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201610.jpg"/>
          <h2 class="timeline__content-title">10 2016</h2>
          <p class="timeline__content-desc">我们好好学习，抓紧空余的时间玩耍！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="INTROS">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/20161022.jpg"/>
          <h2 class="timeline__content-title">10 2016</h2>
          <p class="timeline__content-desc">还记得第一个给你讲的故事吗？</p>
        </div>
      </div>
      <div class="timeline-item" data-text="INTROS">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201611.jpg"/>
          <h2 class="timeline__content-title">11 2016</h2>
          <p class="timeline__content-desc">不仅仅是“一个”，我们还有彼此！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="INTROS">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201612.jpg"/>
          <h2 class="timeline__content-title">12 2016</h2>
          <p class="timeline__content-desc">不只是吃吃吃，还有你的名字！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="FIRST SUMMER">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201701.jpg"/>
          <h2 class="timeline__content-title">01 2017</h2>
          <p class="timeline__content-desc">吃不完的回民街，走不完的城墙！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="FIRST SUMMER">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201702.jpg"/>
          <h2 class="timeline__content-title">02 2017</h2>
          <p class="timeline__content-desc">我们的第一个情人节！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="FIRST SUMMER">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201703.jpg"/>
          <h2 class="timeline__content-title">03 2017</h2>
          <p class="timeline__content-desc">匆匆忙忙的三月，我们埋头奋斗！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="3L">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201704.jpg"/>
          <h2 class="timeline__content-title">04 2017</h2>
          <p class="timeline__content-desc">忙到窒息的一个月，除了忙不完的学业，还要策划我们的第一场旅行！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="3L">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201705.jpg"/>
          <h2 class="timeline__content-title">05 2017</h2>
          <p class="timeline__content-desc">5月，我们的第一次旅行——陕南风光！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="3L">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201706.jpg"/>
          <h2 class="timeline__content-title">06 2017</h2>
          <p class="timeline__content-desc">在书店看书看到睡着，跟我回家过生日吧！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="3L">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201707.jpg"/>
          <h2 class="timeline__content-title">07 2017</h2>
          <p class="timeline__content-desc">和我在成都的街头走一走哦，直到所有的灯都熄灭了也不停留！第一次长途
          旅行，好吃的成都</p>
        </div>
      </div>
      <div class="timeline-item" data-text="3L">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201708.jpg"/>
          <h2 class="timeline__content-title">08 2017</h2>
          <p class="timeline__content-desc">热的可以化掉的夏天，和你不喜欢吃的咸汤面</p>
        </div>
      </div>
      <div class="timeline-item" data-text="3L">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201709.jpg"/>
          <h2 class="timeline__content-title">09 2017</h2>
          <p class="timeline__content-desc">又回到了周内学校周末逛的生活，9月8号一起给你过了相识以来的第一个生日</p>
        </div>
      </div>
      <div class="timeline-item" data-text="3L">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201710.jpg"/>
          <h2 class="timeline__content-title">10 2017</h2>
          <p class="timeline__content-desc">上班很辛苦，生活有pink，就应该有blue！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="Bar Summer">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201711.jpg"/>
          <h2 class="timeline__content-title">11 2017</h2>
          <p class="timeline__content-desc">除了上班挣钱，还要抓紧一切时间出去玩耍</p>
        </div>
      </div>
      <div class="timeline-item" data-text="DC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201712.jpg"/>
          <h2 class="timeline__content-title">12 2017</h2>
          <p class="timeline__content-desc">不太冷的12月，我们有圣诞和元旦</p>
        </div>
      </div>
      <div class="timeline-item" data-text="DC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201801.jpg"/>
          <h2 class="timeline__content-title">01 2018</h2>
          <p class="timeline__content-desc">寒冷的冬季，我们一起玩雪！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="DC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201802.jpg"/>
          <h2 class="timeline__content-title">02 2018</h2>
          <p class="timeline__content-desc">我们的第二个情人节！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="DC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201803.jpg"/>
          <h2 class="timeline__content-title">03 2018</h2>
          <p class="timeline__content-desc">赖在金花不去临潼，我们第一次划船，第一次去宝鸡！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="DC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201804.jpg"/>
          <h2 class="timeline__content-title">04 2018</h2>
          <p class="timeline__content-desc">第一次去曲江海洋馆</p>
        </div>
      </div>
      <div class="timeline-item" data-text="DC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201805.jpg"/>
          <h2 class="timeline__content-title">05 2018</h2>
          <p class="timeline__content-desc">一片花海，欢迎小鸭子的加入！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="DC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/2018061.jpg"/>
          <h2 class="timeline__content-title">06 2018</h2>
          <p class="timeline__content-desc">特别特别好吃的长寿面，热炸了的六月</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201807.jpg"/>
          <h2 class="timeline__content-title">07 2018</h2>
          <p class="timeline__content-desc">没见过这么热的夏天，搁家好好待着吧</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201808.jpg"/>
          <h2 class="timeline__content-title">08 2018</h2>
          <p class="timeline__content-desc">上海苏州走起，好热啊，旅行的愉悦减半</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201809.jpg"/>
          <h2 class="timeline__content-title">09 2018</h2>
          <p class="timeline__content-desc">宝贝的生日，我们两家人第一次在一起吃饭，气氛还不错呢！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201810.jpg"/>
          <h2 class="timeline__content-title">10 2018</h2>
          <p class="timeline__content-desc">找工作很辛苦，约会还是不能少的！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201811.jpg"/>
          <h2 class="timeline__content-title">11 2018</h2>
          <p class="timeline__content-desc">700天，兴庆宫，临潼，我们都有工作啦！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201812.jpg"/>
          <h2 class="timeline__content-title">12 2018</h2>
          <p class="timeline__content-desc">长沙，虽然很冷但可以一直吃吃吃的旅行！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201901.jpg"/>
          <h2 class="timeline__content-title">01 2019</h2>
          <p class="timeline__content-desc">在高新努力赚钱，在半坡冷怂吃</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201902.jpg"/>
          <h2 class="timeline__content-title">02 2019</h2>
          <p class="timeline__content-desc">过的最艰苦的一个年，宝贝做的饭很好吃，可我画的画就。。。</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201903.jpg"/>
          <h2 class="timeline__content-title">03 2019</h2>
          <p class="timeline__content-desc">写论文的日子好难熬，但我们都要熬过去，是不是？</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201904.jpg"/>
          <h2 class="timeline__content-title">04 2019</h2>
          <p class="timeline__content-desc">我们结婚了，还生陶陶了，嗷嗷，只是在游戏里。论文终于送出去了，开始放松模式，事实证明老天没有给我们放松的机会！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/201905.jpg"/>
          <h2 class="timeline__content-title">05 2019</h2>
          <p class="timeline__content-desc">抓紧最后的时光玩耍，我们开始订婚戒啦，好多钻石，好难挑呀！</p>
        </div>
      </div>
      <div class="timeline-item" data-text="NYC">
        <div class="timeline__content"><img class="timeline__img" src="/static/img/longago.jpeg"/>
          <h2 class="timeline__content-title">06 2019</h2>
          <p class="timeline__content-desc">Baby，I "both" you now, forever and always. Will you marry me?</p>
        </div>
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src="/static/js/index.js"></script>
</body>
</html>